body {
 text-align: center;
 font-family: 'futura', sans-serif;
 border: 2px;
}
.div1 {
 border: 2px;
}



.page-title {
 font-family: 'futura', sans-serif;
 color: green; 
 border: 5px solid #fff;
}

.profile {
 color: green;
}

.contact-info {
 font-family: 'futura', sans-serif;
 font-weight: 300;
 underline: 2px solid;
}
 



 


