body {
 text-align: center;
 font-family: 'voltage', sans-serif;
 background-image: url:("http://www.lorom.com/wp-files/uploads/2015/06/cap-cable.jpg");
 margin: 300px;
 background-attachment: fixed;
 background-repeat: no-repeat;
 font-weight: 300x;
 
}

.transbox {
    border: 3px solid black;
    opacity: 0.6;
    filter: alpha(opacity=20); /* For IE8 and earlier */
    font-weight: bold;
}

.transbox {
    margin: 5%;
    font-weight: bold;
}


header {
 color: red;
}


.page-title {
 color: #bd0511;
 font-weight: bold;
}

.title{
 color: black;
 }
 
.employer{
  color: black;
}

.content {
}

p { 
 color: black;
 font-size: 13px;
}

.category {
 color: purple;
 text-align: center;
}

.contact-info {
 underline: 2px solid;
 color: black;
}

.list {
 text-align: left;
 color: black;
 font-size: 13px;
}



 


