.page-title {
 font-family: 'futura', sans-serif;
 text-align: center;
 color: green; 
 border: 5px solid #fff;
}

.contact-info {
 font-family: 'futura', sans-serif;
 font-weight: 300;
 underline: 2px solid;
 text-align: center;
}

.Profile {
 color: green;
 font-family: 'futura', sans-serif;
 text-align: center;
}
